# Setup input timing (20 Mhz clock)
NET "GClk_in" PERIOD = 50 ns INPUT_JITTER 1 ps;
NET "ProgC" PERIOD = 25 ns INPUT_JITTER 10 ps;

# WORKING PINS
NET "GClk_in" LOC = AB13;
NET "SCK_in" LOC = AB11;
NET "MISO_out" LOC = AA12;
NET "MOSI_in" LOC = AB12;
NET "ID0_in" LOC = W12;
NET "ID1_in" LOC = Y12;
NET "ID2_in" LOC = Y13;
NET "MISO_EN_out" LOC = U9;
NET "IO0_in" LOC = AA8;
NET "IO2_in" LOC = W10;
NET "IO3_in" LOC = AB9;

# GROUNDED PINS
NET "OA10" LOC = A10;
NET "OA11" LOC = A11;
NET "OA12" LOC = A12;
NET "OA13" LOC = A13;
NET "OA14" LOC = A14;
NET "OA15" LOC = A15;
NET "OA16" LOC = A16;
NET "OA17" LOC = A17;
NET "OA18" LOC = A18;
NET "OA2" LOC = A2;
NET "OA20" LOC = A20;
NET "OA21" LOC = A21;
NET "OA3" LOC = A3;
NET "OA4" LOC = A4;
NET "OA5" LOC = A5;
NET "OA6" LOC = A6;
NET "OA7" LOC = A7;
NET "OA8" LOC = A8;
NET "OA9" LOC = A9;
NET "OAA10" LOC = AA10;
NET "OAA14" LOC = AA14;
NET "OAA16" LOC = AA16;
NET "OAA18" LOC = AA18;
NET "OAA2" LOC = AA2;
NET "OAA21" LOC = AA21;
NET "OAA4" LOC = AA4;
NET "OAA6" LOC = AA6;
NET "OAB10" LOC = AB10;
NET "OAB14" LOC = AB14;
NET "OAB15" LOC = AB15;
NET "OAB16" LOC = AB16;
NET "OAB17" LOC = AB17;
NET "OAB18" LOC = AB18;
NET "OAB19" LOC = AB19;
NET "OAB2" LOC = AB2;
NET "OAB20" LOC = AB20;
NET "OAB21" LOC = AB21;
NET "OAB3" LOC = AB3;
NET "OAB4" LOC = AB4;
NET "OAB5" LOC = AB5;
NET "OAB6" LOC = AB6;
NET "OAB7" LOC = AB7;
NET "OAB8" LOC = AB8;
NET "OB1" LOC = B1;
NET "OB10" LOC = B10;
NET "OB12" LOC = B12;
NET "OB14" LOC = B14;
NET "OB16" LOC = B16;
NET "OB18" LOC = B18;
NET "OB2" LOC = B2;
NET "OB20" LOC = B20;
NET "OB21" LOC = B21;
NET "OB22" LOC = B22;
NET "OB3" LOC = B3;
NET "OB6" LOC = B6;
NET "OB8" LOC = B8;
NET "OC1" LOC = C1;
NET "OC10" LOC = C10;
NET "OC11" LOC = C11;
NET "OC12" LOC = C12;
NET "OC13" LOC = C13;
NET "OC14" LOC = C14;
NET "OC15" LOC = C15;
NET "OC16" LOC = C16;
NET "OC17" LOC = C17;
NET "OC19" LOC = C19;
NET "OC20" LOC = C20;
NET "OC22" LOC = C22;
NET "OC3" LOC = C3;
NET "OC4" LOC = C4;
NET "OC5" LOC = C5;
NET "OC6" LOC = C6;
NET "OC7" LOC = C7;
NET "OC9" LOC = C9;
NET "OD1" LOC = D1;
NET "OD10" LOC = D10;
NET "OD11" LOC = D11;
NET "OD12" LOC = D12;
NET "OD13" LOC = D13;
NET "OD14" LOC = D14;
NET "OD15" LOC = D15;
NET "OD17" LOC = D17;
NET "OD19" LOC = D19;
NET "OD2" LOC = D2;
NET "OD20" LOC = D20;
NET "OD21" LOC = D21;
NET "OD22" LOC = D22;
NET "OD3" LOC = D3;
NET "OD5" LOC = D5;
NET "OD6" LOC = D6;
NET "OD7" LOC = D7;
NET "OD8" LOC = D8;
NET "OD9" LOC = D9;
NET "OE1" LOC = E1;
NET "OE10" LOC = E10;
NET "OE12" LOC = E12;
NET "OE14" LOC = E14;
NET "OE16" LOC = E16;
NET "OE20" LOC = E20;
NET "OE22" LOC = E22;
NET "OE3" LOC = E3;
NET "OE4" LOC = E4;
NET "OE5" LOC = E5;
NET "OE6" LOC = E6;
NET "OE8" LOC = E8;
NET "OF1" LOC = F1;
NET "OF10" LOC = F10;
NET "OF12" LOC = F12;
NET "OF13" LOC = F13;
NET "OF14" LOC = F14;
NET "OF15" LOC = F15;
NET "OF16" LOC = F16;
NET "OF17" LOC = F17;
NET "OF18" LOC = F18;
NET "OF19" LOC = F19;
NET "OF2" LOC = F2;
NET "OF20" LOC = F20;
NET "OF21" LOC = F21;
NET "OF22" LOC = F22;
NET "OF3" LOC = F3;
NET "OF5" LOC = F5;
NET "OF7" LOC = F7;
NET "OF8" LOC = F8;
NET "OF9" LOC = F9;
NET "OG1" LOC = G1;
NET "OG11" LOC = G11;
NET "OG13" LOC = G13;
NET "OG16" LOC = G16;
NET "OG17" LOC = G17;
NET "OG19" LOC = G19;
NET "OG20" LOC = G20;
NET "OG22" LOC = G22;
NET "OG3" LOC = G3;
NET "OG4" LOC = G4;
NET "OG6" LOC = G6;
NET "OG7" LOC = G7;
NET "OG8" LOC = G8;
NET "OG9" LOC = G9;
NET "OH1" LOC = H1;
NET "OH10" LOC = H10;
NET "OH11" LOC = H11;
NET "OH12" LOC = H12;
NET "OH13" LOC = H13;
NET "OH14" LOC = H14;
NET "OH16" LOC = H16;
NET "OH17" LOC = H17;
NET "OH18" LOC = H18;
NET "OH19" LOC = H19;
NET "OH2" LOC = H2;
NET "OH20" LOC = H20;
NET "OH21" LOC = H21;
NET "OH22" LOC = H22;
NET "OH3" LOC = H3;
NET "OH4" LOC = H4;
NET "OH5" LOC = H5;
NET "OH6" LOC = H6;
NET "OH8" LOC = H8;
NET "OJ1" LOC = J1;
NET "OJ16" LOC = J16;
NET "OJ17" LOC = J17;
NET "OJ19" LOC = J19;
NET "OJ20" LOC = J20;
NET "OJ22" LOC = J22;
NET "OJ3" LOC = J3;
NET "OJ4" LOC = J4;
NET "OJ6" LOC = J6;
NET "OJ7" LOC = J7;
NET "OK1" LOC = K1;
NET "OK16" LOC = K16;
NET "OK17" LOC = K17;
NET "OK18" LOC = K18;
NET "OK19" LOC = K19;
NET "OK2" LOC = K2;
NET "OK20" LOC = K20;
NET "OK21" LOC = K21;
NET "OK22" LOC = K22;
NET "OK3" LOC = K3;
NET "OK4" LOC = K4;
NET "OK5" LOC = K5;
NET "OK6" LOC = K6;
NET "OK7" LOC = K7;
NET "OK8" LOC = K8;
NET "OL1" LOC = L1;
NET "OL15" LOC = L15;
NET "OL17" LOC = L17;
NET "OL19" LOC = L19;
NET "OL20" LOC = L20;
NET "OL22" LOC = L22;
NET "OL3" LOC = L3;
NET "OL4" LOC = L4;
NET "OL6" LOC = L6;
NET "OM1" LOC = M1;
NET "OM16" LOC = M16;
NET "OM17" LOC = M17;
NET "OM18" LOC = M18;
NET "OM19" LOC = M19;
NET "OM2" LOC = M2;
NET "OM20" LOC = M20;
NET "OM21" LOC = M21;
NET "OM22" LOC = M22;
NET "OM3" LOC = M3;
NET "OM4" LOC = M4;
NET "OM5" LOC = M5;
NET "OM6" LOC = M6;
NET "OM7" LOC = M7;
NET "OM8" LOC = M8;
NET "ON1" LOC = N1;
NET "ON16" LOC = N16;
NET "ON19" LOC = N19;
NET "ON20" LOC = N20;
NET "ON22" LOC = N22;
NET "ON3" LOC = N3;
NET "ON4" LOC = N4;
NET "ON6" LOC = N6;
NET "ON7" LOC = N7;
NET "OP1" LOC = P1;
NET "OP17" LOC = P17;
NET "OP18" LOC = P18;
NET "OP19" LOC = P19;
NET "OP2" LOC = P2;
NET "OP20" LOC = P20;
NET "OP21" LOC = P21;
NET "OP22" LOC = P22;
NET "OP3" LOC = P3;
NET "OP4" LOC = P4;
NET "OP5" LOC = P5;
NET "OP6" LOC = P6;
NET "OP7" LOC = P7;
NET "OP8" LOC = P8;
NET "OR1" LOC = R1;
NET "OR11" LOC = R11;
NET "OR13" LOC = R13;
NET "OR15" LOC = R15;
NET "OR16" LOC = R16;
NET "OR19" LOC = R19;
NET "OR20" LOC = R20;
NET "OR22" LOC = R22;
NET "OR3" LOC = R3;
NET "OR4" LOC = R4;
NET "OR7" LOC = R7;
NET "OR8" LOC = R8;
NET "OR9" LOC = R9;
NET "OT1" LOC = T1;
NET "OT10" LOC = T10;
NET "OT11" LOC = T11;
NET "OT12" LOC = T12;
NET "OT14" LOC = T14;
NET "OT15" LOC = T15;
NET "OT16" LOC = T16;
NET "OT17" LOC = T17;
NET "OT18" LOC = T18;
NET "OT19" LOC = T19;
NET "OT2" LOC = T2;
NET "OT20" LOC = T20;
NET "OT21" LOC = T21;
NET "OT22" LOC = T22;
NET "OT3" LOC = T3;
NET "OT4" LOC = T4;
NET "OT5" LOC = T5;
NET "OT7" LOC = T7;
NET "OT8" LOC = T8;
NET "OU1" LOC = U1;
NET "OU10" LOC = U10;
NET "OU12" LOC = U12;
NET "OU13" LOC = U13;
NET "OU14" LOC = U14;
NET "OU16" LOC = U16;
NET "OU17" LOC = U17;
NET "OU19" LOC = U19;
NET "OU20" LOC = U20;
NET "OU22" LOC = U22;
NET "OU3" LOC = U3;
NET "OU4" LOC = U4;
NET "OU6" LOC = U6;
NET "OU8" LOC = U8;
NET "OV1" LOC = V1;
NET "OV13" LOC = V13;
NET "OV15" LOC = V15;
NET "OV17" LOC = V17;
NET "OV18" LOC = V18;
NET "OV19" LOC = V19;
NET "OV2" LOC = V2;
NET "OV20" LOC = V20;
NET "OV21" LOC = V21;
NET "OV22" LOC = V22;
NET "OV3" LOC = V3;
NET "OV5" LOC = V5;
NET "OV7" LOC = V7;
NET "OV9" LOC = V9;
NET "OW1" LOC = W1;
NET "OW13" LOC = W13;
NET "OW14" LOC = W14;
NET "OW15" LOC = W15;
NET "OW17" LOC = W17;
NET "OW18" LOC = W18;
NET "OW20" LOC = W20;
NET "OW22" LOC = W22;
NET "OW3" LOC = W3;
NET "OW4" LOC = W4;
NET "OW6" LOC = W6;
NET "OW8" LOC = W8;
NET "OW9" LOC = W9;
NET "OY1" LOC = Y1;
NET "OY11" LOC = Y11;
NET "OY14" LOC = Y14;
NET "OY15" LOC = Y15;
NET "OY16" LOC = Y16;
NET "OY17" LOC = Y17;
NET "OY18" LOC = Y18;
NET "OY19" LOC = Y19;
NET "OY2" LOC = Y2;
NET "OY3" LOC = Y3;
NET "OY4" LOC = Y4;
NET "OY5" LOC = Y5;
NET "OY6" LOC = Y6;
NET "OY7" LOC = Y7;
NET "OY8" LOC = Y8;

INST "DCMBI" LOC = DCM_X0Y0;
INST "DCMCI" LOC = DCM_X0Y1;


INST "SHASPIinst" AREA_GROUP = "ControlBlock";
INST "SHACONFIG" AREA_GROUP = "ControlBlock";
AREA_GROUP "ControlBlock" RANGE=SLICE_X52Y0:SLICE_X81Y15, SLICE_X50Y8:SLICE_X51Y15;

INST "SHAFCE" AREA_GROUP = "pblock_SP";
AREA_GROUP "pblock_SP" RANGE=SLICE_X0Y88:SLICE_X127Y159;
AREA_GROUP "pblock_SP" RANGE=DSP48_X0Y22:DSP48_X3Y39;
AREA_GROUP "pblock_SP" RANGE=RAMB16_X0Y44:RAMB16_X5Y78;
AREA_GROUP "pblock_SP" RANGE=RAMB8_X0Y44:RAMB8_X5Y79;
INST "SHAFCE/SP/GR1[1].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[2].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[3].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[4].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[5].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[6].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[7].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[8].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[9].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[10].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[11].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[12].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[13].RND" AREA_GROUP = "Round_ini";
INST "SHAFCE/SP/GR1[14].RND" AREA_GROUP = "Round_ini";
AREA_GROUP "Round_ini" RANGE=SLICE_X0Y148:SLICE_X127Y159;
INST "SHAFCE/SP/GR2[36].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[37].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[38].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[17].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[18].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[19].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[20].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[21].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[22].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[23].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[24].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[25].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[26].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[27].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[28].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[29].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[30].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[31].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[32].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[33].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[34].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[35].RND" AREA_GROUP = "Round_fblock";
INST "SHAFCE/SP/GR2[16].RND" AREA_GROUP = "Round_fblock";
AREA_GROUP "Round_fblock" RANGE=SLICE_X4Y131:SLICE_X127Y147;
AREA_GROUP "Round_fblock" RANGE=DSP48_X0Y33:DSP48_X3Y36;
AREA_GROUP "Round_fblock" RANGE=RAMB16_X0Y66:RAMB16_X5Y72;
AREA_GROUP "Round_fblock" RANGE=RAMB8_X0Y66:RAMB8_X5Y73;
INST "SHAFCE/SP/GR2[16].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[17].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[18].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[19].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[20].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[21].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[22].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[23].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[24].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[25].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[26].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[27].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[28].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[29].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[30].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[31].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[32].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[33].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[34].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[35].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[36].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[37].WRN" AREA_GROUP = "WEXP_start";
INST "SHAFCE/SP/GR2[38].WRN" AREA_GROUP = "WEXP_start";
AREA_GROUP "WEXP_start" RANGE=SLICE_X0Y118:SLICE_X123Y130;
AREA_GROUP "WEXP_start" RANGE=DSP48_X0Y30:DSP48_X3Y31;
AREA_GROUP "WEXP_start" RANGE=RAMB16_X0Y60:RAMB16_X4Y62;
AREA_GROUP "WEXP_start" RANGE=RAMB8_X0Y60:RAMB8_X4Y63;
INST "SHAFCE/SP/GR3[47].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[48].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[49].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[50].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[51].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[52].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[53].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[54].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[55].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[56].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[57].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[58].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[59].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[60].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[61].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[62].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[63].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[40].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[41].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[42].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[43].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[44].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[45].WRN" AREA_GROUP = "WEXP_fin";
INST "SHAFCE/SP/GR3[46].WRN" AREA_GROUP = "WEXP_fin";
AREA_GROUP "WEXP_fin" RANGE=SLICE_X0Y105:SLICE_X123Y117;
AREA_GROUP "WEXP_fin" RANGE=DSP48_X0Y27:DSP48_X3Y28;
AREA_GROUP "WEXP_fin" RANGE=RAMB16_X0Y54:RAMB16_X4Y56;
AREA_GROUP "WEXP_fin" RANGE=RAMB8_X0Y54:RAMB8_X4Y57;
INST "SHAFCE/SP/GR3[40].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[41].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[42].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[43].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[44].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[45].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[46].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[47].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[48].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[49].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[50].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[51].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[52].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[53].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[54].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[55].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[56].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[57].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[58].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[59].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[60].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[61].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[62].RND" AREA_GROUP = "Round_fin";
INST "SHAFCE/SP/GR3[63].RND" AREA_GROUP = "Round_fin";
AREA_GROUP "Round_fin" RANGE=SLICE_X0Y88:SLICE_X127Y104;
AREA_GROUP "Round_fin" RANGE=DSP48_X0Y22:DSP48_X3Y25;
AREA_GROUP "Round_fin" RANGE=RAMB16_X0Y44:RAMB16_X5Y50;
AREA_GROUP "Round_fin" RANGE=RAMB8_X0Y44:RAMB8_X5Y51;
INST "SHAFCE/SP/S_39_14" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_13" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_12" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_11" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_10" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_9" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_8" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_7" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_6" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_5" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_4" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_3" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_2" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_1" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_0" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_33" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_32" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_31" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_30" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_29" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_28" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_27" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_26" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_25" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_24" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_23" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_22" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_21" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_20" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_19" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_18" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_17" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_16" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_15" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_65" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_64" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_63" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_62" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_61" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_60" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_59" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_58" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_57" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_56" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_55" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_54" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_53" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_52" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_51" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_50" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_49" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_48" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_47" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_46" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_45" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_44" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_43" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_42" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_41" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_40" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_39" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_38" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_37" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_36" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_35" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_34" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_84" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_83" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_82" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_81" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_80" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_79" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_78" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_77" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_76" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_75" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_74" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_73" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_72" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_71" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_70" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_69" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_68" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_67" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_66" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_116" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_115" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_114" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_113" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_112" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_111" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_110" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_109" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_108" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_107" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_106" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_105" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_104" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_103" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_102" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_101" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_100" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_99" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_98" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_97" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_96" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_95" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_94" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_93" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_92" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_91" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_90" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_89" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_88" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_87" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_86" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_85" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_135" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_134" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_133" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_132" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_131" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_130" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_129" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_128" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_127" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_126" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_125" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_124" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_123" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_122" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_121" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_120" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_119" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_118" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_117" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_167" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_166" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_165" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_164" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_163" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_162" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_161" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_160" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_159" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_158" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_157" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_156" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_155" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_154" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_153" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_152" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_151" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_150" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_149" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_148" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_147" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_146" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_145" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_144" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_143" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_142" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_141" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_140" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_139" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_138" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_137" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_136" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_186" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_185" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_184" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_183" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_182" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_181" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_180" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_179" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_178" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_177" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_176" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_175" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_174" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_173" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_172" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_171" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_170" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_169" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_168" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_218" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_217" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_216" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_215" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_214" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_213" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_212" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_211" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_210" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_209" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_208" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_207" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_206" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_205" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_204" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_203" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_202" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_201" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_200" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_199" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_198" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_197" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_196" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_195" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_194" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_193" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_192" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_191" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_190" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_189" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_188" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_187" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_237" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_236" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_235" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_234" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_233" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_232" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_231" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_230" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_229" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_228" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_227" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_226" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_225" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_224" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_223" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_222" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_221" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_220" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_219" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_255" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_254" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_253" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_252" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_251" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_250" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_249" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_248" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_247" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_246" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_245" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_244" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_243" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_242" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_241" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_240" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_239" AREA_GROUP = "pblock_1";
INST "SHAFCE/SP/S_39_238" AREA_GROUP = "pblock_1";
AREA_GROUP "pblock_1" RANGE=SLICE_X124Y105:SLICE_X127Y129;
INST "SHAFCE/SP/S_15_2" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_1" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_0" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_34" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_33" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_32" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_31" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_30" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_29" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_28" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_27" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_26" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_25" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_24" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_23" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_22" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_21" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_20" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_19" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_18" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_17" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_16" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_15" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_14" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_13" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_12" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_11" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_10" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_9" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_8" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_7" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_6" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_5" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_4" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_3" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_35" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_66" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_65" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_64" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_63" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_62" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_61" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_60" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_59" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_58" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_57" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_56" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_55" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_54" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_53" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_52" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_51" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_50" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_49" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_48" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_47" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_46" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_45" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_44" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_43" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_42" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_41" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_40" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_39" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_38" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_37" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_36" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_85" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_84" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_83" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_82" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_81" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_80" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_79" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_78" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_77" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_76" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_75" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_74" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_73" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_72" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_71" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_70" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_69" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_68" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_67" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_117" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_116" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_115" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_114" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_113" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_112" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_111" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_110" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_109" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_108" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_107" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_106" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_105" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_104" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_103" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_102" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_101" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_100" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_99" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_98" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_97" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_96" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_95" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_94" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_93" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_92" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_91" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_90" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_89" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_88" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_87" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_86" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_136" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_135" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_134" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_133" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_132" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_131" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_130" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_129" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_128" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_127" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_126" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_125" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_124" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_123" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_122" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_121" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_120" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_119" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_118" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_168" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_167" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_166" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_165" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_164" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_163" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_162" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_161" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_160" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_159" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_158" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_157" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_156" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_155" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_154" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_153" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_152" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_151" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_150" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_149" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_148" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_147" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_146" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_145" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_144" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_143" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_142" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_141" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_140" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_139" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_138" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_137" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_187" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_186" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_185" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_184" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_183" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_182" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_181" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_180" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_179" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_178" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_177" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_176" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_175" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_174" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_173" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_172" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_171" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_170" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_169" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_219" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_218" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_217" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_216" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_215" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_214" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_213" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_212" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_211" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_210" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_209" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_208" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_207" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_206" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_205" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_204" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_203" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_202" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_201" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_200" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_199" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_198" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_197" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_196" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_195" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_194" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_193" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_192" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_191" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_190" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_189" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_188" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_238" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_237" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_236" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_235" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_234" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_233" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_232" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_231" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_230" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_229" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_228" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_227" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_226" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_225" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_224" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_223" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_222" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_221" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_220" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_255" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_254" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_253" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_252" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_251" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_250" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_249" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_248" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_247" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_246" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_245" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_244" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_243" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_242" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_241" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_240" AREA_GROUP = "s15turn";
INST "SHAFCE/SP/S_15_239" AREA_GROUP = "s15turn";
AREA_GROUP "s15turn" RANGE=SLICE_X0Y131:SLICE_X3Y147;
