INST "SHAFCE/SP/GR1[14].RND" AREA_GROUP = "SP_rndini14";
INST "SHAFCE/SP/GR1[13].RND" AREA_GROUP = "SP_rndini14";
AREA_GROUP "SP_rndini14" RANGE=SLICE_X0Y148:SLICE_X17Y159;
INST "SHAFCE/SP/GR1[12].RND" AREA_GROUP = "SP_rndini12";
INST "SHAFCE/SP/GR1[11].RND" AREA_GROUP = "SP_rndini12";
AREA_GROUP "SP_rndini12" RANGE=SLICE_X18Y148:SLICE_X35Y159;
INST "SHAFCE/SP/GR1[10].RND" AREA_GROUP = "SP_rndini10";
INST "SHAFCE/SP/GR1[9].RND" AREA_GROUP = "SP_rndini10";
AREA_GROUP "SP_rndini10" RANGE=SLICE_X36Y148:SLICE_X53Y159;
INST "SHAFCE/SP/GR1[8].RND" AREA_GROUP = "SP_rndini8";
INST "SHAFCE/SP/GR1[7].RND" AREA_GROUP = "SP_rndini8";
AREA_GROUP "SP_rndini8" RANGE=SLICE_X54Y148:SLICE_X73Y159;
INST "SHAFCE/SP/GR1[6].RND" AREA_GROUP = "SP_rndini6";
INST "SHAFCE/SP/GR1[5].RND" AREA_GROUP = "SP_rndini6";
AREA_GROUP "SP_rndini6" RANGE=SLICE_X74Y148:SLICE_X91Y159;
INST "SHAFCE/SP/GR1[4].RND" AREA_GROUP = "SP_rndini4";
INST "SHAFCE/SP/GR1[3].RND" AREA_GROUP = "SP_rndini4";
AREA_GROUP "SP_rndini4" RANGE=SLICE_X92Y148:SLICE_X109Y159;
INST "SHAFCE/SP/GR1[2].RND" AREA_GROUP = "SP_rndini2";
INST "SHAFCE/SP/GR1[1].RND" AREA_GROUP = "SP_rndini2";
AREA_GROUP "SP_rndini2" RANGE=SLICE_X110Y148:SLICE_X127Y159;
INST "SHAFCE/SP/GR2[16].RND" AREA_GROUP = "SP_rndf15";
AREA_GROUP "SP_rndf15" RANGE=SLICE_X0Y130:SLICE_X9Y147;
INST "SHAFCE/SP/GR2[17].RND" AREA_GROUP = "SP_rndf17";
INST "SHAFCE/SP/GR2[18].RND" AREA_GROUP = "SP_rndf17";
AREA_GROUP "SP_rndf17" RANGE=SLICE_X10Y130:SLICE_X19Y147;
INST "SHAFCE/SP/GR2[19].RND" AREA_GROUP = "SP_rndf19";
INST "SHAFCE/SP/GR2[20].RND" AREA_GROUP = "SP_rndf19";
AREA_GROUP "SP_rndf19" RANGE=SLICE_X20Y130:SLICE_X29Y147;
INST "SHAFCE/SP/GR2[21].RND" AREA_GROUP = "SP_rndf21";
INST "SHAFCE/SP/GR2[22].RND" AREA_GROUP = "SP_rndf21";
AREA_GROUP "SP_rndf21" RANGE=SLICE_X30Y130:SLICE_X39Y147;
INST "SHAFCE/SP/GR2[23].RND" AREA_GROUP = "SP_rndf23";
INST "SHAFCE/SP/GR2[24].RND" AREA_GROUP = "SP_rndf23";
AREA_GROUP "SP_rndf23" RANGE=SLICE_X40Y130:SLICE_X49Y147;
INST "SHAFCE/SP/GR2[25].RND" AREA_GROUP = "SP_rndf25";
INST "SHAFCE/SP/GR2[26].RND" AREA_GROUP = "SP_rndf25";
AREA_GROUP "SP_rndf25" RANGE=SLICE_X50Y130:SLICE_X59Y147;
INST "SHAFCE/SP/GR2[27].RND" AREA_GROUP = "SP_rndf27";
INST "SHAFCE/SP/GR2[28].RND" AREA_GROUP = "SP_rndf27";
AREA_GROUP "SP_rndf27" RANGE=SLICE_X60Y130:SLICE_X71Y147;
INST "SHAFCE/SP/GR2[29].RND" AREA_GROUP = "SP_rndf29";
INST "SHAFCE/SP/GR2[30].RND" AREA_GROUP = "SP_rndf29";
AREA_GROUP "SP_rndf29" RANGE=SLICE_X72Y130:SLICE_X81Y147;
INST "SHAFCE/SP/GR2[31].RND" AREA_GROUP = "SP_rndf31";
INST "SHAFCE/SP/GR2[32].RND" AREA_GROUP = "SP_rndf31";
AREA_GROUP "SP_rndf31" RANGE=SLICE_X82Y130:SLICE_X91Y147;
INST "SHAFCE/SP/GR2[33].RND" AREA_GROUP = "SP_rndf33";
INST "SHAFCE/SP/GR2[34].RND" AREA_GROUP = "SP_rndf33";
AREA_GROUP "SP_rndf33" RANGE=SLICE_X92Y130:SLICE_X101Y147;
INST "SHAFCE/SP/GR2[35].RND" AREA_GROUP = "SP_rndf35";
INST "SHAFCE/SP/GR2[36].RND" AREA_GROUP = "SP_rndf35";
AREA_GROUP "SP_rndf35" RANGE=SLICE_X102Y130:SLICE_X111Y147;
INST "SHAFCE/SP/GR2[37].RND" AREA_GROUP = "SP_rndf37";
INST "SHAFCE/SP/GR2[38].RND" AREA_GROUP = "SP_rndf37";
AREA_GROUP "SP_rndf37" RANGE=SLICE_X112Y130:SLICE_X121Y147;
